<app-navbar></app-navbar>
<section>
  <div
    class="bg-custom-gradient bg-cover w-full h-52 flex justify-center items-center"
  >
    <h1 class="text-white text-center font-bold text-xl px-4">
      TOUS NOS ARTICLES ET CONSEILS SPORTIFS
    </h1>
  </div>

  <div class="container mx-auto max-w-7xl mt-4 px-4">
    <div class="mb-4">
      <h4>Accueil / Blog</h4>
      <h1 class="text-gray-800 font-bold text-2xl">
        Tous nos articles et conseils sportifs
      </h1>
    </div>

    <div class="flex flex-wrap -mx-4">
      <div class="px-4 w-full lg:w-3/4">
        <div class="flex flex-wrap -mx-2">
          <p-progressSpinner
            *ngIf="loader.isLoading | async"
            ariaLabel="loading"
            class="flex justify-center items-center"
          ></p-progressSpinner>

          <div
            class="px-2 w-full space-y-8 md:w-1/2 lg:w-1/2 mb-4"
            *ngFor="let post of posts"
          >
            <div
              class="card border border-gray-200 h-full flex flex-col rounded-lg overflow-hidden transition-shadow duration-300 ease-in-out"
            >
              <img
                src="{{ post.image }}"
                alt="{{ post.title }}"
                class="w-full h-60 object-cover"
              />
              <div class="p-4 flex-col flex-grow">
                <h1 class="text-gray-800 font-semibold text-xl mb-2">
                  {{ post.title }}
                </h1>
                <p class="flex-grow text-gray-600 text-sm">
                  {{ post.content | truncate : 300 : true : "..." }}
                </p>

                <p class="text-gray-500 text-xs mt-2">
                  Published: {{ post.publish_date | date : "mediumDate" }}
                </p>

                <div class="flex flex-wrap mt-2">
                  <span
                    class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 mb-2 px-2.5 py-0.5 rounded dark:bg-blue-800 dark:text-blue-100"
                    *ngFor="let tag of post.tags"
                  >
                    {{ tag.name }}
                  </span>

                </div>

                <button
                  [routerLink]="['/post-details', post.id]"
                  class="hover:font-bold bg-black px-2 py-2 text-white hover:bg-transparent hover:text-black hover:border hover:border-2 hover:border-black border border-transparent"
                >
                  Lire la suite ...
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="px-4 w-full lg:w-1/4">
        <div class="mb-4">
          <h1 class="text-gray-800 font-bold mb-4">
            Les articles les plus visités
          </h1>
          <div class="relative card mb-4">
            <img
              src="../../assets/image3.jpeg"
              alt=""
              class="w-full h-40 object-cover"
            />
            <div
              class="absolute top-0 left-0 right-0 bottom-0 flex flex-col justify-end p-4 bg-black bg-opacity-50"
            >
              <h2 class="text-white text-lg font-bold">
                6 SPORTS D'ÉTÉ À PRATIQUER DURANT LES VACANCES
              </h2>
              <p class="text-white mt-2">Publié il y a 4 ans</p>
            </div>
          </div>
          <div class="relative card mb-4">
            <img
              src="../../assets/image3.jpeg"
              alt=""
              class="w-full h-40 object-cover"
            />
            <div
              class="absolute top-0 left-0 right-0 bottom-0 flex flex-col justify-end p-4 bg-black bg-opacity-50"
            >
              <h2 class="text-white text-lg font-bold">
                6 SPORTS D'ÉTÉ À PRATIQUER DURANT LES VACANCES
              </h2>
              <p class="text-white mt-2">Publié il y a 4 ans</p>
            </div>
          </div>
          <div class="relative card mb-4">
            <img
              src="../../assets/image3.jpeg"
              alt=""
              class="w-full h-40 object-cover"
            />
            <div
              class="absolute top-0 left-0 right-0 bottom-0 flex flex-col justify-end p-4 bg-black bg-opacity-50"
            >
              <h2 class="text-white text-lg font-bold">
                6 SPORTS D'ÉTÉ À PRATIQUER DURANT LES VACANCES
              </h2>
              <p class="text-white mt-2">Publié il y a 4 ans</p>
            </div>
          </div>
          <div class="relative card mb-4">
            <img
              src="../../assets/image3.jpeg"
              alt=""
              class="w-full h-40 object-cover"
            />
            <div
              class="absolute top-0 left-0 right-0 bottom-0 flex flex-col justify-end p-4 bg-black bg-opacity-50"
            >
              <h2 class="text-white text-lg font-bold">
                6 SPORTS D'ÉTÉ À PRATIQUER DURANT LES VACANCES
              </h2>
              <p class="text-white mt-2">Publié il y a 4 ans</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
