<header>
  <app-navbar></app-navbar>
</header>

<section class="mb-8 pt-10">
  <div class="container mx-auto w-full grid grid-cols-1 md:grid-cols-2">
    <div class="">
      <div class="m-4 bg-[#f8f8f8] border p-8 space-y-4">
        <h1 class="text-[#45294d] font-bold text-2xl">
          Se connecter via vos réseaux sociaux
        </h1>
        <p class="text-1xl">
          Vous pouvez se connecter facilement et très rapidement via vos comptes
          réseaux sociaux.
        </p>
        <div class="flex flex-col w-full gap-2">
          <button class="text-white bg-[#4267b2] py-3 font-bold">
            se connectet via facebook
          </button>
          <button class="text-white bg-[#262727] py-3 font-bold">
            se connectet via google
          </button>
        </div>
      </div>
    </div>
    <div class="space-y-6">
      <h1 class="text-[#45294d] font-bold text-2xl">
        Se connecter avec votre email
      </h1>

      <form [formGroup]="loginForm" (ngSubmit)="login()" class="space-y-4">
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700"
            >Votre adresse email :</label
          >
          <input
            type="email"
            id="email"
            formControlName="email"
            required
            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
          />
        </div>
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700"
            >Mot de passe :</label
          >
          <input
            type="password"
            id="password"
            formControlName="password"
            required
            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
          />
        </div>
        <button
          type="submit"
          [disabled]="!loginForm.valid"
          class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:opacity-50"
        >
          Login
        </button>

        <button
          class="w-full flex capitalize justify-center py-2 px-4 border border-black rounded-md shadow-sm text-sm font-medium text-black bg-transparent"
        >
          J'ai oublié mon mot de passe
        </button>

        <button
          class="w-full flex capitalize justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#fab31e]"
        >
          Crééer un compte Gratuitement
        </button>
      </form>
      <app-alert [message]="errorMessage"></app-alert>
    </div>
  </div>
</section>

<app-footer></app-footer>
