<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <div
        class="bg-custom-gradient bg-cover w-full h-52 flex justify-center items-center"
      >
        <h1 class="text-white text-center font-bold text-xl px-4">
          TOUS NOS ARTICLES ET CONSEILS SPORTIFS
        </h1>
      </div>

      <div class="container mx-auto mt-4 px-4">
        <div class="mb-4">
          <h4>Accueil / Blog</h4>
          <h1 class="text-gray-800 font-bold text-2xl">
            Tous nos articles et conseils sportifs
          </h1>
        </div>

        <div class="flex flex-wrap -mx-4">
          <div class="px-4 w-full lg:w-3/4">
            <div class="flex flex-wrap -mx-2">
              <div class="px-2 w-full mb-4">
                <div class="card border border-gray-200 h-full flex flex-col">
                  <img
                    src="../../assets/image1.jpeg"
                    alt=""
                    class="w-full h-120 object-cover"
                  />
                  <div class="p-4 flex flex-col flex-grow">
                    <h1 class="text-gray-800 font-bold mb-2">
                      Objectifs réalistes en remise en forme : Guide pratique
                    </h1>
                    <p class="flex-grow">
                      La remise en forme est une quête personnelle qui peut être
                      passionnante...
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="px-4 w-full lg:w-1/4">
            <div class="mb-4">
              <h1 class="text-gray-800 font-bold mb-4">
                Les articles les plus visités
              </h1>
              <!-- Example card -->
              <div class="relative card mb-4">
                <img
                  src="../../assets/image3.jpeg"
                  alt=""
                  class="w-full h-40 object-cover"
                />
                <div
                  class="absolute top-0 left-0 right-0 bottom-0 flex flex-col justify-end p-4 bg-black bg-opacity-50"
                >
                  <h2 class="text-white text-lg font-bold">
                    6 SPORTS D'ÉTÉ À PRATIQUER DURANT LES VACANCES
                  </h2>
                  <p class="text-white mt-2">Publié il y a 4 ans</p>
                </div>
              </div>
              <div class="relative card mb-4">
                <img
                  src="../../assets/image3.jpeg"
                  alt=""
                  class="w-full h-40 object-cover"
                />
                <div
                  class="absolute top-0 left-0 right-0 bottom-0 flex flex-col justify-end p-4 bg-black bg-opacity-50"
                >
                  <h2 class="text-white text-lg font-bold">
                    6 SPORTS D'ÉTÉ À PRATIQUER DURANT LES VACANCES
                  </h2>
                  <p class="text-white mt-2">Publié il y a 4 ans</p>
                </div>
              </div>
              <div class="relative card mb-4">
                <img
                  src="../../assets/image3.jpeg"
                  alt=""
                  class="w-full h-40 object-cover"
                />
                <div
                  class="absolute top-0 left-0 right-0 bottom-0 flex flex-col justify-end p-4 bg-black bg-opacity-50"
                >
                  <h2 class="text-white text-lg font-bold">
                    6 SPORTS D'ÉTÉ À PRATIQUER DURANT LES VACANCES
                  </h2>
                  <p class="text-white mt-2">Publié il y a 4 ans</p>
                </div>
              </div>
              <div class="relative card mb-4">
                <img
                  src="../../assets/image3.jpeg"
                  alt=""
                  class="w-full h-40 object-cover"
                />
                <div
                  class="absolute top-0 left-0 right-0 bottom-0 flex flex-col justify-end p-4 bg-black bg-opacity-50"
                >
                  <h2 class="text-white text-lg font-bold">
                    6 SPORTS D'ÉTÉ À PRATIQUER DURANT LES VACANCES
                  </h2>
                  <p class="text-white mt-2">Publié il y a 4 ans</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
