<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-navbar></app-navbar>
    <section>
        <div class="container mx-auto w-full h-[500px] bg-red-500">
            <h1>La liste des villes du Maroc</h1>
            <p>Vous trouverez ci-dessous les 50 villes qui contiennent des clubs et des salles de sport.</p>


            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <div class="bg-slate-600 w-full h-[100px]"></div>
                <div class="bg-slate-600 w-full h-[100px]"></div>
                <div class="bg-slate-600 w-full h-[100px]"></div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</body>
</html>