<section class="bg-white mb-10">
    <div class="container mx-auto max-w-7xl pt-10">
        <h1 class="text-center font-bold text-xl mb-2">Découvrez plus de 100 disciplines sportives au Maroc</h1>
        <p class="text-center mb-10">Découvrez tous les sports que vous pouvez pratiquer dans les clubs et les salles de sport au Maroc.</p>


        <div class="flex flex-wrap justify-center items-center gap-4">
            <div class="w-[300px] h-[100px] ">
                <img src="https://www.clubs.ma/assets/covers/basketball/sport/cover/d221bd28874ae1b3b9e13742647439e4.jpg" alt="">
            </div>
            <div class="w-[300px] h-[100px] ">
                <img src="https://www.clubs.ma/assets/covers/boxe/sport/cover/169180f1711081d56178856b8878f710.jpg" alt="">
            </div>
            <div class="w-[300px] h-[100px] ">
                <img src="https://www.clubs.ma/assets/covers/padel/sport/cover/8d0e7f7307650a762a89ebf17c58aefb.jpg" alt="">
            </div>
            <div class="w-[300px] h-[100px] ">
                <img src="https://www.clubs.ma/assets/covers/taekwondo/sport/cover/b58c5d48809da741a916ffc98e02d36e.jpg" alt="">
            </div>
            <div class="w-[300px] h-[100px] ">
                <img src="https://www.clubs.ma/assets/covers/taekwondo/sport/cover/b58c5d48809da741a916ffc98e02d36e.jpg" alt="">
            </div>
            <div class="w-[300px] h-[100px] ">
                <img src="https://www.clubs.ma/assets/covers/taekwondo/sport/cover/b58c5d48809da741a916ffc98e02d36e.jpg" alt="">
            </div>
            <div class="w-[300px] h-[100px] ">
                <img src="https://www.clubs.ma/assets/covers/taekwondo/sport/cover/b58c5d48809da741a916ffc98e02d36e.jpg" alt="">
            </div>
        </div>
    </div>
</section>