<header>
  <app-navbar></app-navbar>

  <div
    class="bg-custom-gradient bg-cover w-full h-52 flex justify-center items-center"
  ></div>
</header>

<section class="container mx-auto w-full mt-4 grid grid-cols-1 md:grid-cols-3">
  <div class="col-span-2 p-4 space-y-8">
    <h1 class="text-[#2e2951] font-bold text-2xl">Clubs.ma : La plateforme N°1 des clubs et salles de sport au Maroc</h1>
    <img src="../../../assets/logo.png" class="m-auto block" alt="" />
    <p>
      Clubs.ma est une plateforme web et mobile, qui a pour objectif
      d’encourager et de promouvoir la pratique sportive au Maroc, en
      référençant les clubs et les salles de sport, afin de faciliter la tâche
      aux gens de trouver les clubs et les salles de sport les plus proches de
      chez eux, ainsi de découvrir des nouvelles disciplines sportives. Clubs.ma
      permet également aux propriétaires des clubs de sport au Maroc, qui n’ont
      pas les moyens de créer un site web, d’avoir une très bonne visibilité sur
      internet. Cela, en leurs offrant une page sur la plateforme, dans laquelle
      ils peuvent présenter leurs services et informations (Photos, vidéo de
      présentation, disciplines pratiquées, horaires d’ouvertures, tarifs, etc
      …).
    </p>

    <h1 class="text-[#2e2951] font-bold text-2xl">Clubs.ma sur le podium : Prix et récompenses</h1>
    <p>
      En 2018, l’équipe Clubs.ma a été félicitée par le Ministre de la Jeunesse
      et des Sports, Monsieur Rachid Talbi El Alami, lors de du Salon
      International du Sport et des Loisirs. Dans la même année, Clubs.ma a
      remporté le prix de la meilleure application web de l’année des Maroc Web
      Awards (MWA), et a été sélectionnée parmi les 10 meilleurs projets de
      startups au Maroc en 2018 par l’organisme ArabNet, ainsi que parmi les 10
      meilleurs projets marocains en compétition pour le Prix Orange
      entrepreneur Club 2018. En 2019, la startup marocaine Clubs.ma a remporté
      le prix de la startup coup de coeur du jury dans la catégorie Tremplin, et
      a levé le drapeau marocain sur le podium du SportupSummit 2019 à
      Font-romeu en France. La startup marocaine bénéficiera d'une année
      d'adhésion au Club d'entreprises d’Ad’OCC Sport et d'une année
      d'accompagnement spécifique par un membre du réseau d’Occitanie. Clubs.ma
      est également une startup lauréate de Réseau Entreprendre Maroc section
      Marrakech Benguerir.
    </p>
  </div>
  <div class="bg-[#f8f8f8] space-y-5 p-4 h-[520px] border">
    <h1 class="font-bold text-2xl text-[#2e294d]">Contactez-nous</h1>
    <p>
      Vous êtes propriétaire d’un club, une salle de sport au Maroc, et vous
      souhaitez référencer votre club de sport sur notre plateforme ? Vous
      souhaitez avoir plus d’information sur notre équipe et sur notre
      plateforme ? N’hésitez pas à nous contacter :
    </p>
    <hr />

    <h1 class="font-bold text-2xl text-[#2e294d]">Service de Référencement</h1>
    <p>service-referencement@clubs.ma</p>

    <hr />

    <h1 class="font-bold text-2xl text-[#2e294d]">Contact</h1>
    <p>contact@clubs.ma</p>

    <button class="bg-[#4267b2] text-white px-4 py-4">
      via notre page facebook
    </button>
  </div>
</section>

<app-footer></app-footer>
