<div>
  <app-header></app-header>
  <div class="flex overflow-hidden bg-white pt-16 h-screen">
    <app-sidebar></app-sidebar>
    <div
      class="bg-gray-900 opacity-50 hidden fixed inset-0 z-10"
      id="sidebarBackdrop"
    ></div>
    <div
      id="main-content"
      class="h-full w-full bg-gray-50 relative overflow-y-auto lg:ml-64"
    >
      <div class="relative m-4 z-0 overflow-x-auto shadow-md sm:rounded-lg">
        <button
          (click)="handleAdd()"
          class="block mb-10 m-10 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          type="button"
        >
          Add New event
        </button>

        <div
          *ngIf="loader.isLoading | async"
          class="relative z-0 overflow-x-auto shadow-md sm:rounded-lg"
        >
          <table
            class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
          >
            <caption
              class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white"
            >
              Event Management
              <p
                class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400"
              >
                Browse, add, or modify events within the system. This table
                provides an overview of all cities currently managed, including
                options to edit or delete each entry as needed.
              </p>
            </caption>

            <thead
              class="text-xs text-gray-700 uppercase bg-gray-50 dark:text-gray-400"
            >
              <tr>
                <th scope="col" class="px-6 py-3">Id</th>
                <th scope="col" class="px-6 py-3">Title</th>
                <th scope="col" class="px-6 py-3">Description</th>
                <th scope="col" class="px-6 py-3">Content</th>
                <th scope="col" class="px-6 py-3 capitalize">Event Date</th>
                <th scope="col" class="px-6 py-3 capitalize">city</th>
                <th scope="col" class="px-6 py-3 capitalize">user</th>
                <th scope="col" class="px-6 py-3 capitalize">image</th>
                <th scope="col" class="px-6 py-3 capitalize">sport type</th>
                <th scope="col" class="px-6 py-3 capitalize">tags/clubs</th>
                <th scope="col" class="px-6 py-3 capitalize text-center">
                  Actions
                </th>
              </tr>
            </thead>

            <tbody>
              <tr class="bg-white border-b animate-pulse">
                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
              </tr>

              <tr class="bg-white border-b animate-pulse">
                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
              </tr>

              <tr class="bg-white border-b animate-pulse">
                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
              </tr>

              <tr class="bg-white border-b animate-pulse">
                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
              </tr>

              <tr class="bg-white border-b animate-pulse">
                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
              </tr>
              <tr class="bg-white border-b animate-pulse">
                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
              </tr>

              <tr class="bg-white border-b animate-pulse">
                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div class="h-4 bg-gray-200 rounded dark:bg-gray-700"></div>
                </td>

                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-3/4"
                  ></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <table
          *ngIf="!(loader.isLoading | async)"
          class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
        >
          <caption
            class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white"
          >
            Event Management
            <p
              class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400"
            >
              Browse, add, or modify events within the system. This table
              provides an overview of all cities currently managed, including
              options to edit or delete each entry as needed.
            </p>
          </caption>

          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:text-gray-400"
          >
            <tr>
              <th scope="col" class="px-6 py-3">Id</th>
              <th scope="col" class="px-6 py-3">Title</th>
              <th scope="col" class="px-6 py-3">Description</th>
              <th scope="col" class="px-6 py-3">Content</th>
              <th scope="col" class="px-6 py-3 capitalize">Event Date</th>
              <th scope="col" class="px-6 py-3 capitalize">city</th>
              <th scope="col" class="px-6 py-3 capitalize">user</th>
              <th scope="col" class="px-6 py-3 capitalize">image</th>
              <th scope="col" class="px-6 py-3 capitalize">tags/clubs</th>
              <th scope="col" class="px-6 py-3 capitalize text-center">
                Actions
              </th>
            </tr>
          </thead>

          <tbody *ngFor="let event of events">
            <tr class="bg-white border-b">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                {{ event.id }}
              </th>

              <td class="px-6 py-4">
                {{ event.title }}
              </td>

              <td class="px-6 py-4">
                {{ event.description }}
              </td>

              <td class="px-6 py-4">
                {{ event.content | truncate : 50 }}
              </td>

              <td class="px-6 py-4">
                {{ event.event_date }}
              </td>

              <td class="px-6 py-4">
                {{ event.city }}
              </td>

              <td class="px-6 py-4">
                {{ event.user }}
              </td>

              <td class="px-6 py-4">
                <img
                  class="w-10 h-10 rounded"
                  src="{{ event.image }}"
                  alt="Default avatar"
                />
              </td>

              <td class="px-6 py-4">
                @for (item of event.tags; track $index) {
                  {{ item.name }}
                }
              
              </td>

              <td class="px-6 py-4 text-center">
                <button
                  type="button"
                  (click)="toggleconfirmDelete()"
                  class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
                >
                  Delete
                </button>

                <button
                  type="button"
                  [routerLink]="['/admin/edit/event', event.id]"
                  class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900"
                >
                  Edit
                </button>
              </td>
            </tr>

            <div
              *ngIf="confirmDelete"
              class="fixed inset-0 p-4 flex flex-wrap justify-center items-center w-full h-full z-[1000] before:fixed before:inset-0 before:w-full before:h-full overflow-auto font-[sans-serif]"
            >
              <div
                class="w-full max-w-md bg-white shadow-lg rounded-md p-6 relative"
              >
                <svg
                  (click)="cancel()"
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-3.5 cursor-pointer shrink-0 fill-black hover:fill-red-500 float-right"
                  viewBox="0 0 320.591 320.591"
                >
                  <path
                    d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
                    data-original="#000000"
                  ></path>
                  <path
                    d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
                    data-original="#000000"
                  ></path>
                </svg>
                <div class="my-8 text-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-16 fill-red-500 inline"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M19 7a1 1 0 0 0-1 1v11.191A1.92 1.92 0 0 1 15.99 21H8.01A1.92 1.92 0 0 1 6 19.191V8a1 1 0 0 0-2 0v11.191A3.918 3.918 0 0 0 8.01 23h7.98A3.918 3.918 0 0 0 20 19.191V8a1 1 0 0 0-1-1Zm1-3h-4V2a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v2H4a1 1 0 0 0 0 2h16a1 1 0 0 0 0-2ZM10 4V3h4v1Z"
                      data-original="#000000"
                    />
                    <path
                      d="M11 17v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Zm4 0v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Z"
                      data-original="#000000"
                    />
                  </svg>
                  <h4 class="text-xl font-semibold mt-6">
                    Are you sure you want to delete it?
                  </h4>
                  <p class="text-sm text-gray-500 mt-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    auctor auctor arcu, at fermentum dui. Maecenas
                  </p>
                </div>
                <div class="flex flex-col space-y-2">
                  <button
                    (click)="delete(event.id)"
                    class="px-6 py-2.5 rounded-md text-white text-sm font-semibold border-none outline-none bg-red-500 hover:bg-red-600 active:bg-red-500"
                  >
                    Delete
                  </button>
                  <button
                    type="submit"
                    (click)="cancel()"
                    class="px-6 py-2.5 rounded-md text-black text-sm font-semibold border-none outline-none bg-gray-200 hover:bg-gray-300 active:bg-gray-200"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
