<header>
  <app-navbar></app-navbar>
  <div
    class="bg-custom-gradient bg-cover w-full h-52 flex justify-center items-center"
  >
    <h1 class="text-white font-bold text-2xl">
      TOUS LES ÉVÈNEMENTS SPORTIFS AU MAROC
    </h1>
  </div>
</header>

<section>
  <div class="container mx-auto border h-screen">
    <p class="text-sm sm:text-base">
      Accueil Évènements Bouskoura 15KM de Bouskoura 2024
    </p>
    <h1 class="text-[#45294d] font-bold text-xl sm:text-2xl">
      15KM de Bouskoura 2024
    </h1>

    <div class="w-full flex flex-col md:flex-row">
      <div class="w-full md:w-1/4 space-y-4">
        <img
          class="w-full h-auto"
          src="https://www.clubs.ma/assets/images/15km-de-bouskoura-2024/evenement/poster/SxxTdS2AnGVFFsPEEjt594RdMQyy7kckzXS6MVLJ.jpeg"
          alt="15KM de Bouskoura 2024 Poster"
        />

        <div class="border w-30 h-4"></div>
      </div>
      <div class="w-full md:w-1/2 p-2">
        <p class="sm:text-sm">
          <span class="font-bold text-[15px] text-[#262727]">
            L'excitante 10ème édition des 15KM de Bouskoura, prévue le 5 mai
            2024, promet une expérience inoubliable pour tous les passionnés de
            course à pied. Cet événement emblématique, situé dans le cadre
            pittoresque de Bouskoura, invite les coureurs de tous niveaux à
            relever le défi sur différentes distances.
          </span>
          <br />
          Que vous soyez un athlète expérimenté prêt à vous lancer sur le
          parcours de 21 km dès 8h30, ou que vous préfériez les courses de 15 km
          avec des départs échelonnés à 8h45 pour le SAS1 et à 9h00 pour le
          SAS2, cet événement est une opportunité parfaite pour le plaisir et le
          dépassement de soi. Chaque participant se verra remettre un t-shirt
          collector ainsi qu'une médaille, symbolisant leur accomplissement
          <br />. Ne manquez pas cette occasion unique de vous joindre à la
          communauté des coureurs pour célébrer la dixième édition des 15KM de
          Bouskoura. <br />
        </p>
      </div>

      <div class="w-full md:w-1/3 p-2">
        <img src="https://www.clubs.ma/assets/covers/triathlon-le-defi-supreme-d-endurance-et-de-fitness/posts/cover/d94c7e0598c5a0584dec3a931ab22367.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
