<header>
  <app-navbar></app-navbar>
  <div
    class="bg-custom-gradient bg-cover w-full h-64 flex justify-center items-center"
  >
    <h1 class="text-white text-3xl font-bold px-4 text-center">
      TOUS LES ÉVÈNEMENTS SPORTIFS AU MAROC
    </h1>
  </div>
</header>

<section class="container mx-auto max-w-7xl px-4 py-8">
  <div class="text-gray-600 mb-6">
    <p class="text-sm sm:text-base">
      Accueil Évènements Bouskoura 15KM de Bouskoura 2024
    </p>
  </div>
  <div class="flex flex-col md:flex-row gap-8">
    <div class="w-full md:w-2/5 lg:w-1/4 ">
      <img
        src="{{ event.image }}"
        alt="15KM de Bouskoura 2024 Poster"
        class="mb-4 shadow-lg rounded-lg"
      />
      <div class="p-4 shadow-lg rounded-lg bg-white">
        <h2 class="text-[#45294d] font-semibold text-lg">{{ event.title }}</h2>
      </div>
    </div>
    <div class="w-full md:w-3/5 lg:w-1/2">
      <h1 class="text-[#45294d] font-bold text-2xl mb-4">
        {{ event.title }}
      </h1>
      <p class="text-gray-700 text-base mb-4">
        {{ event.description }}
      </p>
      <p class="text-gray-700 text-base">
        {{ event.content }}
      </p>
    </div>
    <div class="w-full md:w-1/3">
      <div class="sticky top-5 space-y-4">
        <h1 class="text-[#45294d] font-bold text-xl">
          Évènements sportifs au Maroc
        </h1>
        <p>Découvrez tous les évènements sportifs partout au Maroc.</p>
        <hr />

        <h1 class="text-[#45294d] font-bold text-xl">
          Évènements sportifs à Agadir
        </h1>
        <p class="te">11 Évènements sportifs à sur Agadir</p>
        <hr />

        <h1 class="text-[#45294d] font-bold text-xl">
          Évènements sportifs à Agadir
        </h1>
        <p class="te">11 Évènements sportifs à sur Agadir</p>
        <hr />

        <h1 class="text-[#45294d] font-bold text-xl">
          Évènements sportifs à Agadir
        </h1>
        <p class="te">11 Évènements sportifs à sur Agadir</p>
        <hr />

        <h1 class="text-[#45294d] font-bold text-xl">
          Évènements sportifs à Agadir
        </h1>
        <p class="te">11 Évènements sportifs à sur Agadir</p>
        <hr />

        <h1 class="text-[#45294d] font-bold text-xl">
          Évènements sportifs à Agadir
        </h1>
        <p class="te">11 Évènements sportifs à sur Agadir</p>
        <hr />

        <h1 class="text-[#45294d] font-bold text-xl">
          Évènements sportifs à Agadir
        </h1>
        <p class="te">11 Évènements sportifs à sur Agadir</p>
        <hr />
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
