<header class="bg-white shadow">
  <nav class="container mx-auto px-6 md:px-12 py-4">
    <div class="flex justify-between items-center">
      <div class="logo">
        <a
          (click)="home()"
          class="text-[15px] cursor-pointer font-bold flex items-center lg:ml-2.5"
        >
          <img
            src="https://demo.themesberg.com/windster/images/logo.svg"
            class="h-6 mr-2"
            alt="Windster Logo"
          />
          <span class="self-center whitespace-nowrap">LaraSport</span>
        </a>
      </div>

      <div class="md:hidden">
        <button
          id="menu-toggle"
          (click)="toggleMenu()"
          class="text-gray-500 focus:outline-none focus:text-gray-600"
        >
          <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
            <path
              d="M4 5h16a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V7a2 2 0 012-2zm0 8h16a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2a2 2 0 012-2z"
            />
          </svg>
        </button>
      </div>

      <ul class="hidden md:flex space-x-6">
        <li class="text-gray-600 uppercase hover:text-gray-900 cursor-pointer">
          <a (click)="city()" class="font-bold text-[13px]">Clubs de Sport</a>
        </li>

        <li class="text-gray-600 hover:text-gray-900 cursor-pointer">
          <a class="font-bold text-[13px]"> ACTIVITÉS SPORTIVES</a>
        </li>

        <li class="text-gray-600 hover:text-gray-900 cursor-pointer">
          <a (click)="event()" class="font-bold text-[13px]"> ÉVÉNEMENTs </a>
        </li>
        <li
          (click)="post()"
          class="text-gray-600 uppercase hover:text-gray-900 cursor-pointer"
        >
          <a class="font-bold text-[13px]">blog</a>
        </li>
        <li
          class="text-gray-600 uppercase hover:text-gray-900 cursor-pointer"
        >
          <a (click)="contact()" class="font-bold text-[13px]">Contact</a>
        </li>
      </ul>

      <div class="hidden md:block">
        @if (!auth.getToken()) {
        <button
          (click)="register()"
          class="px-4 py-2 bg-[#fab31e] text-black font-bold rounded"
        >
          S'inscrire
        </button>
        <button
          (click)="login()"
          class="ml-4 px-4 py-2 bg-black border text-white rounded"
        >
          Se Connecter
        </button>
        } @if (auth.getToken()) {
        <button
          (click)="logout()"
          class="ml-4 px-10 py-2 font-bold text-[13px] capitalize rounded-xl bg-red-500 border text-white"
        >
          logout
        </button>
        }
      </div>
    </div>

    <!-- Mobile Menu -->
    <ul *ngIf="isMenuOpen" class="mt-4 space-y-2 md:hidden">
      <li class="text-gray-600 uppercase hover:text-gray-900 cursor-pointer">
        <a (click)="city()" class="font-bold text-[13px]">Clubs de Sport</a>
      </li>
      <li class="text-gray-600 hover:text-gray-900 cursor-pointer">
        <a  class="font-bold text-[13px]"> ACTIVITÉS SPORTIVES</a>
      </li>

      <li class="text-gray-600 hover:text-gray-900 cursor-pointer">
        <a (click)="event()" class="font-bold text-[13px]"> ÉVÉNEMENTs </a>
      </li>
      <li
        (click)="post()"
        class="text-gray-600 uppercase hover:text-gray-900 cursor-pointer"
      >
        <a class="font-bold text-[13px]">blog</a>
      </li>
      <li
        routerLink="contact"
        class="text-gray-600 uppercase hover:text-gray-900 cursor-pointer"
      >
        <a class="font-bold text-[13px]">Contact</a>
      </li>
      <li class="block">
        @if (!auth.getToken()) {
        <button
          (click)="register()"
          class="px-4 py-2 bg-[#fab31e] text-black font-bold rounded"
        >
          S'inscrire
        </button>
        <button
          (click)="login()"
          class="ml-4 px-4 py-2 bg-black border text-white rounded"
        >
          Se Connecter
        </button>
        } @if (auth.getToken()) {
        <button
          (click)="logout()"
          class="ml-4 px-10 py-2 font-bold text-[13px] capitalize rounded-xl bg-red-500 border text-white"
        >
          logout
        </button>
        }
      </li>
    </ul>
  </nav>
</header>
