<div>
  <app-header></app-header>
  <div class="flex overflow-hidden bg-white pt-16 h-screen">
    <app-sidebar></app-sidebar>
    <div
      class="bg-gray-900 opacity-50 hidden fixed inset-0 z-10"
      id="sidebarBackdrop"
    ></div>
    <div
      id="main-content"
      class="w-full bg-gray-50 relative overflow-y-auto lg:ml-64"
    >
      <main>
        <div class="container mx-auto w-full p-8">
          <form
            [formGroup]="PostForm"
            (ngSubmit)="save()"
            enctype="multipart/form-data"
          >
            <div class="mb-4">
              <label
                for="title"
                class="block text-gray-700 text-sm font-bold mb-2"
                >Title:</label
              >
              <input
                placeholder="title"
                formControlName="title"
                type="text"
                id="title"
                name="title"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              />

              @if ( PostForm.controls['title'].invalid &&
              PostForm.controls['title'].touched) {
              <span>title is required</span>
              }
            </div>

            <div class="mb-4">
              <label
                for="content"
                class="block text-gray-700 text-sm font-bold mb-2"
                >Content:</label
              >
              <!-- <editor
                formControlName="content"
                apiKey="zxedxrwviridmt97l70a11bc583vnvc2v2842mbtrzc5jhv5"
                initialValue="<p>This is the initial content of the editor</p>"
                [init]="{
                  height: 500,
                  menubar: false,
                  plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'code fullscreen',
                    ' media table paste code help wordcount'
                  ],
                  toolbar:
                    'undo redo | formatselect | bold italic backcolor | \
                  alignleft aligncenter alignright alignjustify | \
                  bullist numlist outdent indent | removeformat | help'
                }"
              >
              </editor> -->
              <textarea
                formControlName="content"
                placeholder="content"
                id="content"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              ></textarea>

              @if ( PostForm.controls['content'].invalid &&
              PostForm.controls['content'].touched) {
              <span>content is required</span>
              }
            </div>

            <div class="mb-4">
              <label
                for="category"
                class="block text-gray-700 text-sm font-bold mb-2"
                >Category:</label
              >
              <select
                formControlName="category_id"
                name="category_id"
                class="border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none"
              >
                <option
                  *ngFor="let category of categories"
                  [value]="category.id"
                >
                  {{ category.name }}
                </option>
              </select>

              @if ( PostForm.controls['category_id'].invalid &&
              PostForm.controls['category_id'].touched) {
              <span>content is required</span>
              }
            </div>

            <div class="mb-4">
              <label
                for="tags"
                class="block text-gray-700 text-sm font-bold mb-2"
                >Tags:</label
              >
              <p-multiSelect
                formControlName="tags"
                [options]="tags"
                optionLabel="name"
                optionValue="id"
                placeholder="Select tags"
                styleClass="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              ></p-multiSelect>

              @if ( PostForm.controls['tags'].invalid &&
              PostForm.controls['tags'].touched) {
              <span>content is required</span>
              }
            </div>

            <div class="mb-4">
              <label
                for="image"
                class="block text-gray-700 text-sm font-bold mb-2"
                >Image:</label
              >

              <input
                formControlName="image"
                type="file"
                id="image"
                name="image"
                accept="image/*"
                class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              />

              @if ( PostForm.controls['image'].invalid &&
              PostForm.controls['image'].touched) {
              <span>content is required</span>
              }
            </div>

            <button
              type="submit"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >
              Submit
            </button>
          </form>
          <p *ngIf="message" class="mt-4 text-center text-lg text-green-600">
            {{ message }}
          </p>
        </div>
      </main>
    </div>
  </div>
</div>
