
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>

      
     <nav>
      <ul>
        <li><a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">register</a></li>
        <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">login</a></li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
    

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>

</body>
</html>




