<header>
  <app-navbar></app-navbar>

  <div
    class="bg-custom-gradient bg-cover w-full h-52 flex justify-center items-center"
  >
    <h1 class="text-white font-bold text-2xl">
      TOUS LES ÉVÈNEMENTS SPORTIFS AU MAROC
    </h1>
  </div>
</header>

<section>
  <div class="container mx-auto p-4 space-y-4">
    <h1 class="text-[#45294d] font-bold text-2xl">
      Tous les évènements sportifs au Maroc
    </h1>
    <p>Vous trouverez tous les évènements sportifs au Maroc.</p>
  </div>

  <div class="container mx-auto w-full flex">
    <div class="w-full md:w-2/3 xl:grid grid-cols-2 p-2">
      <div
        class="flex flex-col w-full mb-4 gap-4 p-4"
        *ngFor="let event of events"
      >
        <img
          src="{{event.image}}"
          alt=""
        />
        <h1 class="text-[#45294d] font-bold text-2xl">
          {{event.title}}
        </h1>
        <p>
          {{event.description}}
        </p>
        <button
          class="bg-[#252525] text-white hover:text-black hover:bg-transparent w-[150px] h-[60px] hover:border"
        >
          Lire la suite..
        </button>
      </div>
    </div>

    <div class="w-1/3  p-4 hidden md:block">
      <div class="sticky top-5">
        <h1 class="text-[#45294d] font-bold text-2xl">
          Évènements sportifs au Maroc
        </h1>
        <p>Découvrez tous les évènements sportifs partout au Maroc.</p>
        <hr />

        <h1 class="">Évènements sportifs à Agadir</h1>
        <p class="te">11 Évènements sportifs à sur Agadir</p>
        <hr />

        <h1 class="">Évènements sportifs à Agadir</h1>
        <p class="te">11 Évènements sportifs à sur Agadir</p>
        <hr />

        <h1 class="">Évènements sportifs à Agadir</h1>
        <p class="te">11 Évènements sportifs à sur Agadir</p>
        <hr />

        <h1 class="">Évènements sportifs à Agadir</h1>
        <p class="te">11 Évènements sportifs à sur Agadir</p>
        <hr />

        <h1 class="">Évènements sportifs à Agadir</h1>
        <p class="te">11 Évènements sportifs à sur Agadir</p>
        <hr />

        <h1 class="">Évènements sportifs à Agadir</h1>
        <p class="te">11 Évènements sportifs à sur Agadir</p>
        <hr />
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
