<!-- This is an example component -->
<div>
  <app-header></app-header>
  <div class="flex overflow-hidden bg-white pt-16 h-screen">
    <app-sidebar></app-sidebar>
    <div
      class="bg-gray-900 opacity-50 hidden fixed inset-0 z-10"
      id="sidebarBackdrop"
    ></div>
    <div
      id="main-content"
      class="h-full w-full bg-gray-50 relative overflow-y-auto lg:ml-64"
    >
      <app-cards></app-cards>

      <div class="container mx-auto p-4 flex flex-row justify-around flex-wrap items-center">
        <div class="p-2 w-[600px]"> 
          <canvas class="w-full" id="postCanvasId"></canvas>
        </div>
        <div class="p-2 w-[600px]"> 
          <canvas class="w-full" id="eventCanvasId"></canvas>
        </div>


        <div class="p-2 w-[600px]"> 
          <canvas class="w-full" id="clubCanvasId"></canvas>
        </div>
      </div>
      
    </div>
  </div>
</div>
