<!-- This is an example component -->
<div>
  <app-header></app-header>
  <div class="flex overflow-hidden bg-white pt-16">
    <app-sidebar></app-sidebar>
    <div
      class="bg-gray-900 opacity-50 hidden fixed inset-0 z-10"
      id="sidebarBackdrop"
    ></div>
    <div
      id="main-content"
      class="h-[440px] w-full bg-gray-50 relative overflow-y-auto lg:ml-64"
    >
      <main>
        <div class="container mx-auto w-full p-8">
          <button
            class="mb-4 middle none center mr-4 rounded-lg bg-[#0891b2] py-3 px-6 font-sans text-xs font-bold uppercase text-white"
            (click)="toggleModal()"
            data-ripple-light="true"
          >
            Add Tag
          </button>

          <!-- Modal -->
          <div
            *ngIf="showModal"
            class="fixed inset-0 bg-opacity-50 overflow-y-auto h-full w-full"
            id="my-modal"
          >
            <div
              class="relative top-20 mx-auto p-5 border w-[600px] shadow-lg rounded-md bg-white"
            >
              <div class="mt-3 text-center">
                <h2 class="text-2xl font-semibold mb-6">Add New Tag</h2>
                <form [formGroup]="TagsForm" (ngSubmit)="save()">
                  <div class="mb-4">
                    <label
                      for="name"
                      class="block text-gray-700 text-sm font-bold mb-2"
                      >Name</label
                    >
                    <input
                      formControlName="name"
                      type="text"
                      id="name"
                      placeholder="Enter tag name"
                      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    />
                  </div>
                  <button
                    type="submit"
                    [disabled]="!TagsForm.valid"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline disabled:opacity-50 disabled:cursor-not-allowed"
                  >
                    Submit
                  </button>
                </form>
                <button (click)="toggleModal()" class="mt-2">Close</button>
              </div>
            </div>
          </div>
          <table class="border-collapse w-full">
            <thead>
              <tr>
                <th
                  class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell"
                >
                  Id
                </th>
                <th
                  class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell"
                >
                  Name
                </th>
                <th
                  class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell"
                >
                  Actions
                </th>
              </tr>
            </thead>
            <tbody *ngFor="let tag of tags">
              <tr
                class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0"
              >
                <td
                  class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static"
                >
                  <span
                    class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase"
                    >Company name</span
                  >
                  {{ tag.id }}
                </td>
                <td
                  class="w-full lg:w-auto p-3 text-gray-800  border border-b text-center block lg:table-cell relative lg:static"
                >
                  <span
                    class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase"
                    >Country</span
                  >
                  {{ tag.name }}
                </td>

                <td
                  class="w-full lg:w-auto p-3 text-gray-800 border border-b text-center block lg:table-cell relative lg:static"
                >
                  <span
                    class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase"
                    >Actions</span
                  >
                  <button
                    class="mb-4 middle none center mr-4 rounded-lg bg-yellow-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white"
                    (click)="toggleModalUpdate()"
                    data-ripple-light="true"
                  >
                    Edit
                  </button>

                  <!-- Modal -->
                  <div
                    *ngIf="showModalUpdate"
                    class="fixed inset-0 bg-opacity-50 overflow-y-auto h-full w-full"
                    id="my-modal"
                  >
                    <div
                      class="relative top-20 mx-auto p-5 border w-[600px] shadow-lg rounded-md bg-white"
                    >
                      <div class="mt-3 text-center">
                        <h2 class="text-2xl font-semibold mb-6">Add New Tag</h2>
                        <form
                          [formGroup]="TagsForm"
                          (ngSubmit)="update(tag.id)"
                        >
                          <div class="mb-4">
                            <label
                              for="name"
                              class="block text-gray-700 text-sm font-bold mb-2"
                              >Name</label
                            >
                            <input
                              formControlName="name"
                              type="text"
                              id="name"
                              [value]="tag.name"
                              placeholder="Enter tag name"
                              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            />
                          </div>
                          <button
                            type="submit"
                            [disabled]="!TagsForm.valid"
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline disabled:opacity-50 disabled:cursor-not-allowed"
                          >
                            Submit
                          </button>
                        </form>
                        <button (click)="toggleModalUpdate()" class="mt-2">
                          Close
                        </button>
                      </div>
                    </div>
                  </div>

                  <button
                    class="mb-4 middle none center mr-4 rounded-lg bg-red-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white"
                    (click)="delete(tag.id)"
                    data-ripple-light="true"
                  >
                    Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
</div>


<!-- 
<h2 class="text-2xl font-semibold mb-6">Add New Category</h2>
          <form [formGroup]="TagsForm" (ngSubmit)="save()">
            <div class="mb-4">
              <label
                for="name"
                class="block text-gray-700 text-sm font-bold mb-2"
                >Name</label
              >
              <input
                formControlName="name"
                type="text"
                id="name"
                placeholder="Enter category name"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              />
            </div>

            <button
              type="submit"
              [disabled]="!TagsForm.valid"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline disabled:opacity-50 disabled:cursor-not-allowed"
            >
              Submit
            </button>
          </form>

          <p *ngIf="message" class="mt-4 text-center text-sm text-green-500">
            {{ message }}
          </p> -->
