<section class="bg-[#f8f9fa] py-[100px] px-4 md:px-8">
  <div class="container mx-auto max-w-7xl">
    <h1 class="text-center font-bold text-xl mb-2">
      Conseils en sport et nutrition sur notre blog
    </h1>
    <p class="text-center mb-10">
      Trouvez les derniers articles de conseils en sport et nutrition sur notre
      blog.
    </p>

      
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div
      role="status"
      *ngIf="loader.isLoading | async"
      class="w-full h-[200px] bg-red-500 rounded shadow animate-pulse"
    >
      <div
        class="flex items-center justify-center w-full h-full bg-gray-300 rounded"
      >
        <svg
          class="w-10 h-10 text-gray-200"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 16 20"
        >
          <path
            d="M14.066 0H7v5a2 2 0 01-2 2H0v11a1.97 1.97 0 001.934 2h12.132A1.97 1.97 0 0016 18V2a1.97 1.97 0 00-1.934-2zM10.5 6a1.5 1.5 0 110 2.999A1.5 1.5 0 0110.5 6zm2.221 10.515a1 1 0 01-.858.485h-8a1 1 0 01-.9-1.43L5.6 10.039a.978.978 0 01.936-.57 1 1 0 01.9.632l1.181 2.981.541-1a.945.945 0 01.883-.522 1 1 0 01.879.529l1.832 3.438a1 1 0 01-.031.988zM5 5V.13a2.96 2.96 0 00-1.293.749L.879 3.707A2.98 2.98 0 00.13 5H5z"
          />
        </svg>
      </div>
    </div>

    <div
      role="status"
      *ngIf="loader.isLoading | async"
      class="w-full h-[200px] bg-red-500 rounded shadow animate-pulse"
    >
      <div
        class="flex items-center justify-center w-full h-full bg-gray-300 rounded"
      >
        <svg
          class="w-10 h-10 text-gray-200"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 16 20"
        >
          <path
            d="M14.066 0H7v5a2 2 0 01-2 2H0v11a1.97 1.97 0 001.934 2h12.132A1.97 1.97 0 0016 18V2a1.97 1.97 0 00-1.934-2zM10.5 6a1.5 1.5 0 110 2.999A1.5 1.5 0 0110.5 6zm2.221 10.515a1 1 0 01-.858.485h-8a1 1 0 01-.9-1.43L5.6 10.039a.978.978 0 01.936-.57 1 1 0 01.9.632l1.181 2.981.541-1a.945.945 0 01.883-.522 1 1 0 01.879.529l1.832 3.438a1 1 0 01-.031.988zM5 5V.13a2.96 2.96 0 00-1.293.749L.879 3.707A2.98 2.98 0 00.13 5H5z"
          />
        </svg>
      </div>
    </div>

    <div
      role="status"
      *ngIf="loader.isLoading | async"
      class="w-full h-[200px] bg-red-500 rounded shadow animate-pulse"
    >
      <div
        class="flex items-center justify-center w-full h-full bg-gray-300 rounded"
      >
        <svg
          class="w-10 h-10 text-gray-200"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 16 20"
        >
          <path
            d="M14.066 0H7v5a2 2 0 01-2 2H0v11a1.97 1.97 0 001.934 2h12.132A1.97 1.97 0 0016 18V2a1.97 1.97 0 00-1.934-2zM10.5 6a1.5 1.5 0 110 2.999A1.5 1.5 0 0110.5 6zm2.221 10.515a1 1 0 01-.858.485h-8a1 1 0 01-.9-1.43L5.6 10.039a.978.978 0 01.936-.57 1 1 0 01.9.632l1.181 2.981.541-1a.945.945 0 01.883-.522 1 1 0 01.879.529l1.832 3.438a1 1 0 01-.031.988zM5 5V.13a2.96 2.96 0 00-1.293.749L.879 3.707A2.98 2.98 0 00.13 5H5z"
          />
        </svg>
      </div>
    </div>
  </div>

    <div 
    *ngIf="!(loader.isLoading | async)"
    class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-8">
      @for (post of posts; track $index) {
      <div class="mb-4 h-full">
        <div
          class="card border border-gray-200 h-full flex flex-col rounded-lg overflow-hidden transition-shadow duration-300 ease-in-out"
        >
          <img
            src="{{ post.image }}"
            alt="{{ post.title }}"
            class="w-full h-60 object-cover"
          />
          <div class="p-4 flex flex-col flex-grow">
            <h1 class="text-gray-800 font-semibold text-xl mb-2">
              {{ post.title }}
            </h1>
            <p class="flex-grow text-gray-600 text-sm">
              {{ post.content | truncate : 300 : true : "..." }}
            </p>
            <p class="text-gray-500 text-xs mt-2">
              Published: {{ post.publish_date | date : "mediumDate" }}
            </p>
            <div class="flex flex-wrap mt-2">
              <span
                class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 mb-2 px-2.5 py-0.5 rounded dark:bg-blue-800 dark:text-blue-100"
                *ngFor="let tag of post.tags"
                >
                {{ tag.name }}
              </span>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
    <button
      (click)="toblogs()"
      class="bg-black hover:border mt-20 hover:border-black text-white hover:bg-white hover:text-black m-auto block px-4 py-4 capitalize"
    >
      Consultez notre blog
    </button>



   
  </div>
</section>
