<div>
  <app-header></app-header>
  <div class="flex overflow-hidden bg-white pt-16 min-h-screen">
    <app-sidebar></app-sidebar>
    <div
      class="bg-gray-900 opacity-50 hidden fixed inset-0 z-10"
      id="sidebarBackdrop"
    ></div>
    <div
      id="main-content"
      class="w-full bg-gray-50 relative overflow-y-auto lg:ml-64"
    >
      <div class="relative m-4 z-0 overflow-x-auto shadow-md sm:rounded-lg">
        <button
          (click)="handleadd()"
          class="block mb-10 m-10 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          type="button"
        >
          Add New post
        </button>
        <table
          class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
        >
          <caption
            class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white"
          >
            Post Management
            <p
              class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400"
            >
              Browse, add, or modify posts within the system. This table
              provides an overview of all cities currently managed, including
              options to edit or delete each entry as needed.
            </p>
          </caption>

          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
          >
            <tr>
              <th scope="col" class="px-6 py-3">Id</th>
              <th scope="col" class="px-6 py-3">Title</th>
              <th scope="col" class="px-6 py-3">Content</th>
              <th scope="col" class="px-6 py-3 capitalize">Publish date</th>
              <th scope="col" class="px-6 py-3 capitalize">Image</th>
              <th scope="col" class="px-6 py-3 capitalize">Category</th>
              <th scope="col" class="px-6 py-3 capitalize">Author</th>
              <th scope="col" class="px-6 py-3 capitalize">Actions</th>
            </tr>
          </thead>

          @for (post of posts; track $index) {
          <tbody>
            <tr class="bg-white border-b">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                {{ post.id }}
              </th>

              <td class="px-6 py-4">
                {{ post.title }}
              </td>

              <td class="px-6 py-4">
                {{ post.content }}
              </td>

              <td class="px-6 py-4">
                {{ post.publish_date }}
              </td>

              <td class="px-6 py-4">
                {{ post.category }}
              </td>

              <td class="px-6 py-4">
                {{ post.user }}
              </td>

              <td class="px-6 py-4">
                @for (item of post.tags; track $index) {
                {{ item.name }}
                }
              </td>

              <td class="px-6 py-4">
                <img
                  class="w-10 h-10 rounded"
                  src="{{ post.image }}"
                  alt="Default avatar"
                />
              </td>

              <!-- <td class="px-6 py-4">
                {{ event.sport_type }}
              </td>
  
              <td class="px-6 py-4">
                {{ event.tags_clubs }}
              </td> -->
            </tr>
          </tbody>
          }
        </table>
      </div>
    </div>
  </div>
</div>
