<footer class="text-black text-white border border-top">
    
    <div class="container mx-auto px-4 py-8 flex flex-col md:flex-row justify-evenly items-center gap-8">
      
        <ul class="text-sm space-y-4 justify-start items-start">
        <li class="font-bold">Menu de navigation</li>
        <li>Page d'accueil Clubs.ma</li>
        <li>Réservez votre séance en ligne</li>
        <li>Offres spéciales et limitées</li>
        <li>Articles de Blog</li>
        <li>Toutes les villes du Maroc</li>
        <li>Tous les sports au Maroc</li>
        <li>Promotions des clubs de sport</li>
        <li>Événements sportifs au Maroc</li>
        <li>Contactez-nous</li>
      </ul>
  
      <ul class="text-sm space-y-4 justify-start items-start">
        <li class="font-bold">Sur toutes les villes</li>
        <li>Clubs et salles de sport à Agadir</li>
        <li>Clubs et salles de sport à Casablance</li>
        <li>Clubs et salles de sport à Rabat</li>
        <li>Clubs et salles de sport à Marrakech</li>
        <li>Clubs et salles de sport à Tanger</li>
        <li>Clubs et salles de sport à Fés</li>
        <li>Clubs et salles de sport à Meknés</li>
        <li>Clubs et salles de sport à El Jadida</li>
      </ul>
  
      <ul class="text-sm space-y-4 justify-start items-start">
        <li class="font-bold">Sports populaires</li>
        <li>Clubs et salles de musculation</li>
        <li>Salles de Fitness</li>
        <li>Clubs d'équitation et centres équestres</li>
        <li>Clubs de Natation</li>
        <li>Salles de Crossfit</li>
        <li>Clubs de Tennis</li>
      </ul>
  
      <ul class="text-sm space-y-2 w-[400px] flex flex-col justify-start items-start">
        <li class="font-bold">A propos de Clubs.ma</li>
        <li class="">Clubs.ma est la plateforme web et mobile N°1 des clubs et salles de sport au Maroc, et qui a pour objectif d'encourager la pratique sportive au Maroc.</li>
        <li>Méthodes de paiement</li>
        <li><img src="../../../assets/cmi-payment.png" alt=""></li>
      </ul>

    </div>
  
</footer>
  